build
*~
xcuserdata
.DS_Store
include/
.idea
TestData/account.plist
Examples/OSX/MessageSender/MessageSender.xcodeproj/project.xcworkspace/xcshareddata/MessageSender.xccheckout
MailCore.xcodeproj/project.xcworkspace/xcshareddata/MailCore.xccheckout